body{
    width:500px;
    margin:0px auto;
    margin-top:100px;
}
h2{
    display:none;
    margin-left:30px;
    text-align:center;
}
#userDiv {
    text-align: center;
}

#btnSendUser {
    display:none;
}

#chat {
    display: none;
    height: 275px;
    width: 500px;
    border: 1px solid grey;
    float: left;
    background-color:grey;
    padding:10px;
}

#chatWindow {
}

#chatlog {
    height: 200px;
    width: 75%;
    overflow-y: scroll;
    float: left;
    background-color: white;
}

#memberList {
    float: left;
    text-align: center;
    width: 24%;
    height: 200px;
    font-weight: bold;
    border-left: 5px solid black;
    background-color: lightblue;
    overflow-y: scroll;
}

#msgbox {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 370px;
    height:50px;
    float:left;
    resize:none;
}

#btnDisconnect {
    display: none;
    float:left;
    margin-left:26px;  
    margin-top:20px
}
#MemberHeader{
    color:white;
    font-size: 18px;
}
.roomMessage{
    color: red;
    font-weight: bold;
}
.invalid{
    border : 3px solid red;
}
.valid{
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}

#error{
    display:none;
    color: red;
    font-size:20px;
    font-weight:bold;
    font-family:arial;
}

.userNameMessage{
    font-weight: bold;
    display:inline;
    word-wrap:break-word;
}

.myNameMessage{
    font-weight: bold;
    display:inline;
    word-wrap:break-word;
    color: blue;
}

.message{
    font-weight:normal;
    display:inline;
    word-wrap:break-word;
    color:black;
}

.userNameMissedMessage{
    font-weight: bold;
    display:inline;
    color:grey;
    word-wrap:break-word;
}

.missedMessage{
    font-weight:normal;
    display:inline;
    color:grey;
    word-wrap:break-word;
}

#userExistsError{
    display:none;
    color: red;
    font-size:20px;
    font-weight:bold;
    font-family:arial;
}

.banner{
    display:block;
    height: 300px;
    width: 500px;
    opacity:.5;
    border:1px solid grey;
}
.bannerText{
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 
   font-family:cursive;
   color:red;
   font-size:72px;
   text-shadow: 2px 2px black;
}
#txtUserName{
    display:none;
}

/*#chatLoader{
    height:100px;
    width:100px;
    margin:0px auto;
    display:none;
}*/
#entryLoader{
    height:100px;
    width:100px;
    margin-top:50px;
}
.title{
    color:grey;
}
.timestamp{
    display:inline;
}
#timestampChkBox{
    margin-top:10px;
    margin-left:2px;
}