body{
    width:500px;
    margin:0px auto;
    margin-top:100px;
    font-family:'Century Gothic', sans-serif;
    font-size:14px;
}
h2{
    text-align:left;
    cursor:default;
    margin-bottom:5px;
}
input[type='button']{
   cursor:pointer;
}
#userTemplate {
    text-align: center;
}
#chatTemplate{
    display:none;
}


#chat {
    height: 290px;
    width: 600px;
    border: 1px solid grey;
    float: left;
    background-color:grey;
    padding:10px;
}

#chatlog {
    height: 200px;
    width: 75%;
    overflow-y: scroll;
    float: left;
    background-color: white;
    padding-top:5px
}

#memberList {
    float: left;
    text-align: center;
    width: 24%;
    height: 200px;
    font-weight: bold;
    border-left: 5px solid black;
    background-color: white;
    overflow-y: scroll;
    color:green;
    padding-top:5px;
    cursor:pointer;
}

#msgbox {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 370px;
    height:70px;
    float:left;
    resize:none;
}

#btnDisconnect {
    float:left;
    margin-left:90px;  
    margin-top:15px;
}
#btnSendUser{
    display:none;
}
#MemberHeader{
    color:black;
    font-size: 18px;
}
.roomMessage{
    color: black;
    background-color:#FF6961;
    font-weight: bold;
    padding:3px;
}
.invalid{
    border : 3px solid red;
}
.valid{
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
}

#error{
    display:none;
    color: red;
    font-size:20px;
    font-weight:bold;
}

.userNameMessage{
    font-weight: bold;
    word-wrap:break-word;
    background:white;
    padding:3px;
}

.myNameMessage{
    word-wrap:break-word;
    background:#B0E0E6;
    padding:3px;
    font-weight:bold;
}

.userNameLightMessage{
    font-weight: bold;
    word-wrap:break-word;
    background-color:#FF6961;
    padding:3px;
}

.myNameLightMessage{
    word-wrap:break-word;
    background-color:#FF6961;
    padding:3px;
    font-weight:bold;
}

.message{
    font-weight:normal;
    display:inline;
    word-wrap:break-word;
    color:black;
    margin-left:10px;
}

.userNameMissedMessage{
    font-weight: bold;
    color:grey;
    word-wrap:break-word;
    padding:3px;
}

.missedMessage{
    font-weight:normal;
    color:grey;
    word-wrap:break-word;
    display:inline;
}

#userExistsError{
    display:none;
    color: red;
    font-size:20px;
    font-weight:bold;
}

.banner{
    display:block;
    height: 300px;
    width: 500px;
    opacity:.5;
    border:1px solid grey;
}
.bannerText{
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 
   font-family:cursive;
   color:red;
   font-size:72px;
}
#txtUserName{
    display:none;
}

#entryLoader{
    height:100px;
    width:100px;
    margin-top:50px;
}
.title{
    color:grey;
}

.showTimestamp{
    display:inline;
}
.hideTimestamp{
    display:none;
}
#timestampChkBox{
    margin-top:8px;
    margin-left:70px;
}
#chkBoxSoundsLabel{
    font-weight: bold;
    margin-top: 8px;
    float: left;
    margin-left:82px;
    font-size:12px;
}

#chkBoxSounds{
    float:left;
    margin-top:9px;
    margin-left:5px;
}
.socketID{
    display:none;
}

.memberName:hover{
    background-color: red;
}

.specialCommand{
    color: blue;
    font-weight: bold;
}

.typing{
    display:inline;
    color:grey;
    font-size:11px;
}
.hidetyping{
    display:inline;
    display:none;
}
#weather{
   color:darkblue;
   margin-bottom:15px;
   font-size:14px;
   font-weight:bold;
}
.weatherData{
    color:grey;
    display:inline;
}