<h2></h2>
<div id="weather"></div>
<div id="chat" >
    <div id="chatlog"></div>
    <div id="memberList"></div>
    <textarea id="msgbox" maxlength="250" placeholder="Enter your message.."></textarea>
	<input type="button" id="btnDisconnect" value="Leave Room"/>
	<input type="button" id="timestampChkBox" value="Show Timestamps"/>
	<div id="chkBoxSoundsLabel">Enable Sound</div>
	<input type="checkbox" id="chkBoxSounds" />
	<audio id="newMessageSound" >
		<source src="/sounds/newmessage.mp3" type="audio/mpeg">
	</audio>
</div>